.paginationContent{
    display: flex;
    align-content: center;
    justify-content: center;
}

.container{
    background-color: #fff;
}

.tableHomePage {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #a2a2a2;
    margin-bottom: 10px;
}



.tableHomePage th, .tableHomePage td , .tabled th , .tabled td {
    border: 1px solid #a2a2a2;
    padding: 10px;
    text-align: center;
}

.tableHomePage th, .tabled th{
    background-color: #253040;
    color: #fff;
    text-transform: capitalize;
}

.rtm {
    overflow-y: auto;
    width: 100%;
}

.tabled {
    width: 100%;
    margin-bottom: 2px;
}

.tabled thead tr{
    background: #b4d3f8;
}

.tabled tr:nth-child(even) {
    background: #eee;
}